
/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial Rounded MT Bold", Arial, sans-serif;
}

/* Fundo da página */
body {
    background-color: #f6b3e6; /* rosa claro */
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Container principal */
main {
    width: 100%;
    max-width: 520px;
    padding: 20px 16px;
}


/* Títulos */
main h1 {
    color: #8e3a8e;
    font-family: "Modak", system-ui;
    font-style: normal;
    font-weight: normal;
    font-size: clamp(28px, 8vw, 40px);
    margin-bottom: 16px;
}

main h2 {
    color: #a35aa3;
    font-size: 0.95rem;
    margin-bottom: 16px;
}

/* Imagem central */
main img {
    width: 100%;
    max-width: 260px;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;
    padding: 12px;
    margin: 16px auto 24px;
}

/* Formulário */
form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/* Input de data */
input[type="date"] {
    padding: 12px;
    border-radius: 6px;
    border: none;
    font-size: 1rem;
    text-align: center;
}

/* Botão */
button {
    background-color: #8e3a8e;
    color: #ffffff;
    border: none;
    padding: 14px;
    border-radius: 6px;
    font-size: 1.05rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #742f74;
}

@media (max-width: 480px) {
    main h2 {
        font-size: 0.9rem;
    }

    input[type="date"] {
        font-size: 0.95rem;
    }
}

